*{
    margin: 0;
    box-sizing: border-box;
    
    
}

:root{
    scroll-behavior: smooth;
    --orange: #ff7143;
    --blue: #3e587b;
    --background-color: #f9f8fe;
    --oro: linear-gradient(to left, #ffd460 0%, #ffc62d 100%);

}

body{
    font-family: 'Archivo', sans-serif;
}

.container{
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
}

.container--hero{
    padding: 0;
}

/* nav */

.hero{
    background:linear-gradient(to right, #3e587b 30%, #2D4059 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    
}

.nav{
    height: 80px;
    /* background-color: var(--orange); */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    color: #fff;
}

.nav__img{
    width: 90px;
}

.nav__menu{
    background-color: var(--orange);
    width: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 5px;

}


.nav__list{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--blue);
    padding: 80px 0;

    display: grid;
    place-content: center;
    text-align: center;
    gap: 2.5rem;

    list-style: none;

    transform: translate(-100%);
    transition: transform .3s;
}

.nav__list--show{
    transform: translate(0);
}

.nav__link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.nav__item{
    color: #f9f8fe;
}



.hero__main{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* width: auto; */
}

.hero__img{
    width: 100%;
    display: block; 
    /* max-width: 450px; */
    margin: 0 auto;
}

.hero__figure{
    order: -1;
    padding: 20px 0;

}

.hero__texts{
    display: grid;
    gap: 1.5rem;
    text-align: center;
    padding-bottom: 70px;
    color: #fff;
}

.hero__title{
    font-size: 2.5rem;
}

.hero__paragraph{
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: .5rem;

}

.hero__cta{
    background-color: rgb(255, 255, 255);
    color: var(--blue);
    text-decoration: none;
    padding: 1em 3em;
    
    justify-self: center;
    border-radius: 6px;

}

.hero__cta:hover{
    background-color:#f6cd5d;
    color: var(--blue);
}

/* WAVES WAVES WAVES WAVES WAVES WAVES WAVES WAVES WAVES WAVES WAVES WAVES WAVES WAVESWAVES WAVES WAVES WAVES WAVES WAVES WAVESWAVES WAVES WAVES WAVES WAVES WAVES WAVESWAVES WAVES WAVES WAVES WAVES WAVES WAVESWAVES WAVES WAVES WAVES WAVES WAVES WAVES  */

.hero__wave{
    position: relative;
    width: 100%;
    height: 100px;
}

.hero__wave .wave{
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/assets/wave.png);
    background-size: 1000px 100px;
}
.hero__wave .wave.wave1 {
    animation: animate 40s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
.hero__wave .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
.hero__wave .wave.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
.hero__wave .wave.wave4 {
    animation: animate4 45s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -2s;
    bottom: 20px;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }

    100%
    {
        background-position-x: 1000px;
    }
}

@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }

    100%
    {
        background-position-x: -1000px;
    }
}
@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }

    100%
    {
        background-position-x: -1000px;
    }
}

@keyframes animate3
{
    0%
    {
        background-position-x: 0;
    }

    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animate4
{
    0%
    {
        background-position-x: 0;
    }

    100%
    {
        background-position-x: -1000px;
    }
}


/* about */

.about{
    background-color: #fff;
}
.about__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about__img{
    display: block;
    margin: 0 auto;
    width: 90%;
    aspect-ratio: 1/1;
    max-width: 280px;
    object-fit: cover;
    object-position: top;

    border-radius: 50%;
   
}
.about__texts{
    text-align: center;
    display: grid;
    gap: 1.5rem;
}

.subtitle{
    text-align: center;
    font-size: 2.1rem;

}

.paragraph{
    line-height: 1.5;
    font-weight: 300;

}

/* learn */

.learn__articles{
    margin-top: 3rem;
    display: grid;
    gap: 3rem;

}

.learn__article{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;

    display: grid;
    gap: 1rem;
}
.learn__img{
    display: block;
    margin: 0 auto;
    max-width: 250px;
    width: 60%;

}

.learn__title{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* SPONSOR TEXTS */

.sponsor{
    background-color:var(--background-color);
    text-align: center;
}   

.sponsor__img{
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: block;
}

.sponsor__texts{
    display: grid;
    gap: 1.5rem;
    margin-bottom: 3rem;

}

.sponsor__cta{
    background-color: var(--blue);
    color: #fff;
    text-decoration: none;
    padding: 1em 3em;
    
    justify-self: center;
    border-radius: 6px;
}
/* Statistics */

.statistics{
    background-image: linear-gradient(#19181bc0, #171719e3),
    url('../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

.statistics__container{
    display: grid;
    gap: 2.5rem;

}
.statistics__item{
    width: 90%;
    margin: 0 auto;
    max-width: 400px;
}

.statistics__title{
    font-size: 3rem;
    margin-bottom: 1rem;

}

.statistics__cta{
    background-color: var(--orange);
    text-decoration: none;
    color: #fff;
    padding: 1rem 3rem;

    justify-self: center;
    border-radius: 6px;
    font-weight: 700;
}
/* .footer */

.footer{
    background-color: var(--background-color);
}

.footer__contact{
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-top: 3rem;
}

.footer__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color);
}

.footer__item:nth-of-type(1){
    --color: #1da1f2;
}
.footer__item:nth-of-type(2){
    --color: #c32aa3;
}
.footer__item:nth-of-type(3){
    --color: #ff0000;
}
.footer__img{
    width: 28px;
}

@media screen {
    @media (min-width:768px) {

        .modal__container {
            padding-left: 2rem;
            padding-right: 2rem;
            align-items: center;
            flex-direction: row;
        }
    
        .modal__texts {
            text-align: left;
            width: 60%;
        }
    
        .modal__title {
            font-size: 2.5rem;
        }
    
        .modal__paragraph {
            width: 100%;
            margin: 1.3rem auto;
    
        }
    
        .modal__cta {
            background-color: #4338ca;
            display: inline-block;
            text-decoration: none;
            color: #fff;
            padding: 1rem 2rem;
            border-radius: 10px;
        }
    
    
    
        .modal__messages {
            font-weight: bold;
            color: #000;
            font-size: 1.1rem;
        }
    
        .modal__hostinger {
            width: 80%;
    
            max-width: 400px;
            display: block;
            margin: 0 auto;
        }
    
        .nav__menu {
            display: none;
        }
    
        .nav__list {
            position: static;
            background-color: transparent;
            padding: 0;
    
            display: flex;
            gap: 2rem;
    
            list-style: none;
    
            transform: unset;
            transition: none;
        }
    
        .nav__list--show {
            transform: unset;
        }
    
        .nav__link {
            color: #fff;
        }
    
        /* hero-main */
        
        .hero__main {
            flex-direction: row;
            gap: 40px;
            max-width: auto;
            min-height: 550px;
            /* max-height: auto; */
            align-items: center;
        
        }
    
        .hero__figure {
            order: 0;
            padding: 0;
            width: 50%;
        }
    
        .hero__img {
            width: 100%;
        }
    
        .hero__texts {
            width: 50%;
            text-align: start;
            gap: 2rem;
            padding-bottom: 0;
        }
    
        .hero__title {
            font-size: 3rem;
        }
    
        .hero__paragraph {
            margin-bottom: 0;
        }
    
        .hero__cta {
            justify-self: start;
        }
    
    
        /* about */
    
        .about__container {
            flex-direction: row;
        }
    
        .about__figure {
            width: 30%;
        }
    
        .about__img {
            width: 100%;
        }
    
    
        .about__texts {
            width: 70%;
            text-align: start;
            place-content: center;
        }
    
        .subtitle {
            text-align: inherit;
            font-size: 2.5rem;
        }
    
    
        /* learn */
    
        .learn {
            text-align: center;
        }
    
        .learn__articles {
            gap: 2rem;
            grid-auto-flow: column;
            grid-auto-columns: 1fr;
        }
    
        .learn__article {
            gap: 1.5rem;
        }
    
        /* sponsor */
    
        .sponsor {
            text-align: start;
        }
    
        .sponsor__main {
            display: flex;
            /* flex-direction: column; */
            gap: 3rem;
            align-items: center;
        }
    
        .sponsor__figure {
            width: 45%;
        }
    
        .sponsor__img {
            max-width: 400px;
        }
    
        .sponsor__texts {
            width: 55%;
            place-content: center;
            margin-bottom: 0;
        }
    
        .sponsor__cta {
            justify-self: start;
    
        }
    
        /* statistics */
    
        .statistics__title {
            font-size: 4.5rem;
        }
    
    
    
        /* footer */
    
        .footer {
            text-align: center;
        }
    
    
    
    }
}


    

/* .hero__cta:hover{ */
    /* background-color: var(--orange); */
/* } */

















/* main{
    height: 1000px;
    background-color: var(--blue);
}

footer{
    height: 300px;
    background-color: red;
} */










